@model IEnumerable<PWEB_TP.Models.Mensagem>

@{
    ViewBag.Title = "Enviadas";
}

<h2>Enviadas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conteudo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDeCriacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recebido_Id)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conteudo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDeCriacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recebido.Email)
        </td>

    </tr>
}

</table>
