@model PWEB_TP.Models.Estagio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estagio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ramo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ramo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enquandramento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enquandramento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Objetivos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Objetivos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CondicoesDeAcesso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CondicoesDeAcesso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EstagioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
