@model IEnumerable<PWEB_TP.Models.Candidatura>

@{
    ViewBag.Title = "Orientandos";
}

<h2>Orientandos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EstagioId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacoes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Id)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estagio.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
            </td>
        </tr>
    }
</table>