@model PWEB_TP.Models.Candidatura

@{
    ViewBag.Title = "AtribuirCandidatura";
}

<h2>Atribuir Candidatura</h2>

@using (Html.BeginForm("AtribuirCandidatura", "Comissao"))
{
    @Html.AntiForgeryToken()

        <div>
            <h4>Candidatura</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Disciplinas)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Disciplinas)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Importancia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Importancia)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.EstagioId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Estagio.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Observacoes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Observacoes)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.User_Id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ApplicationUser.Email)
                </dd>

            </dl>
        </div>

        @Html.HiddenFor(model => model.Importancia)
        <div class="form-group" style="border-top:solid 1px #808080; padding-top:15px">
            @Html.LabelFor(model => model.Orientador_FK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(modelItem => modelItem.Orientador_FK, new SelectList(ViewBag.docentes, "Value", "Text"), new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <hr />
        <hr />
        <p class="text-center">
            <button value="Aprovado" name="SubmitButton" formaction='@Url.Action("AtribuirCandidatura", "Comissao", new { id = Model.CandidaturaId })' class="btn btn-sm btn-success">Atribuir</button>
        </p>
}
        @Html.ActionLink("Ir para trás", "Index")
